<%= form_for(@comment, url: book_comments_path(@book), method: "post") do |f| %>
<%= f.hidden_field :book_id, value: @book.id %>

  <%= render partial: 'layouts/error_messages', locals: {obj: @comment, back: borrowed_book_path(@book)} %>

  <h1>Enter a comment below!</h1>

  <%= render 'form', f: f %>
  
<% end %>