<div class="show-title">
  <%= @author.name %>
</div>
<!-- create template to render this and genres -->
<div class="book-info">
<% if @books.nil? || @books == [] %>
  <strong>You don't have any books by <%= @author.name %> in your collection.</strong></br>
<% else %>
  <strong>Books: </strong><% @books.order(:title).all.each do |book| %>
    <ul><%= link_to book.title, book_path(book) %></ul>
  <% end %>
<% end %>