<div class="book-info">
  <strong>Title: </strong><%= book.title %><br>
  <% if book.year_published.nil? %>
    <strong>Year Published: </strong>N/A
  <% else %>
    <strong>Year Published: </strong><%= book.year_published %>
  <% end %><br>
  <% if book.language.nil? || book.language == "" %>
    <strong>Language: </strong>N/A
  <% else %>
    <strong>Language: </strong><%= book.language %>
  <% end %><br>
  <% if book.description.nil? || book.description == "" %>
    <strong>Description: </strong>N/A
  <% else %>
    <strong>Description: </strong><%= book.description %>
  <% end %><br>
</div>