// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-info strong {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 1cm;
  font-weight: bold;
  font-size: 15pt;
}

.book-info {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 1cm;
  font-size: 15pt;
}

.note i {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 1cm;
  font-size: 10pt;
}

.show-title {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 40pt;
}

.book-info ul {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 2cm;
  font-size: 15pt;
}

.links {
  padding-left: 2cm;
  padding-top: 5mm;
}

.links a, .links a:visited, .links a:active {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15pt;
  color: #295499;
}